{#{% extends 'base.html' %}#}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>the PDF version of {{ context.title }} page</title>
    <link rel="stylesheet" href="{% static 'pdf_generator/pdf_template.css' %}">
</head>
<body>
    {% block content %}
        <section>
            <div class="flex-container">
                <div class="flex-container__image-block columns">

                </div>
                <div class="flex-container__info-block columns">
                    <ul class="info-block__list">
                        <li class="list__line list-element">
                            <div class="list__line-text">
                                <h3 class="list__line-text list__line-header">{{ title }}</h3>
                                <div class="list__line-text">
                                    {% if published_at %} published in {{ published_at }}{% endif %}
                                    {% if publisher %} by {{ publisher }} {% endif %}
                                    {% if released_at %} released in {{ released_at }} {% endif %}
                                </div>
                            </div>
                        </li>
                        <li class="list__line list-element">
                            {% if contributors %}
                                <div class="list__line-text">Written by: {% for contributor in contributors %}
                                {{ contributor }}, {% endfor %}
                                </div>
                            {% endif %}
                            {% if directors %}
                                <div class="list__line-text">Directed by: {% for director in directors %}
                                    {{ director }}, {% endfor %}
                                </div>
                            {% endif %}
                            &nbsp;
                        </li>
                        {% if actors %}
                            <li class="list__line list-element">
                            Starring:{% for actor in actors %} {{ actor }}, {% endfor %}
                            </li>
                        {% endif %}
                        <li class="list__list list-element list-long-element">
                            <div class="list__line-text"> {{ description }}</div>
                            &nbsp;
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    {% endblock %}
</body>
</html>