{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <div class="row justify-content-center">
    {% if messages %} {% for message in messages %} {{ message }} {% endfor %} {% endif %}
    </div>
    <div class="d-flex justify-content-center" style="vertical-align: center">
    <form method="post" action=""> {% csrf_token %}
        <div class="row justify-content-center fs-5 fst-italic fw-bold" style="margin: 10px">
            {% if model_name == 'actor' %}
                <input type="hidden" name='model_name' value="actor">
                Creating an actor {% endif %}
            {% if model_name == 'director' %}
                <input type="hidden" name='model_name' value="director">
                Creating a director
            {% endif %}
            {% if model_name == 'writer' %}
            <input type="hidden" name='model_name' value="writer">
            Creating a writer
            {% endif %}
        </div>
        {{ form.as_p }}
        <button class="btn btn-outline-dark" type="submit">Add</button>

    </form>
    </div>
    <div class="container-fluid justify-content-center">
        <a class="btn btn-outline-dark" href="/movies/add_person/?model_name=actor" type="submit">
        Create another actor or actress</a>
    <a class="btn btn-outline-dark" href="/movies/add_person/?model_name=director" type="submit">
        Create a director</a>
        <a class="btn btn-outline-dark" href="/movies/add_person/?model_name=writer" type="submit">
        Create a writer</a>
    </div>
{% endblock %}
</body>
</html>