{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'basic_static/carts.css' %}">
</head>
<body>
{% block content %}
    <div class="d-flex justify-content-center">
            <a class="btn btn-outline-dark" style="margin: 10px" href="/movies/add_person/?model_name=actor" type="submit">
                Add an actor/actress </a>
            <a class="btn btn-outline-dark" style="margin: 10px" href="/movies/add_person/?model_name=director" type="submit">
                Add a director </a>
            <a class="btn btn-outline-dark" style="margin: 10px" href="/movies/add_person/?model_name=writer" type="submit">
                Add a writer </a>
    </div>
    <div class="row justify-content-center">
{% for movie in movie_list %}
<div class="card mb-3" style="max-width: 540px; height: 350px; margin: 10px">
  <div class="row g-0">
    <div class="col-md-4 align-self-center">
        {% if movie.poster %}
            <img src="{{ movie.poster.url }}" class="img-fluid" alt="..." alt="">
        {% else %}
        <img src="{% static 'basic_static/basic_movie_cover.svg' %}" class="img-fluid" alt="...">
        {% endif %}
    </div>
      <div class="col-md-8">
          <div class="card-title fs-5 fw-bold" style="height: 50px; margin: 2px">{{ movie.title }}</div>
          <div class="card-body" style="height: 250px">
              <div style="height: 50px">Cast: {% for actor in movie.actors %} {{ actor }}, {% endfor %}</div>
          <div style="height: 50px">Directed by: {% for director in movie.directors %} {{ director }}, {% endfor %}</div>
              <div style="height: 50px">Written by: {% for writer in movie.writers %} {{ writer }}, {% endfor %}</div>
          <div style="height: 150px">Description: {{ movie.description }}</div>
          </div>
          <a class="card-footer btn btn-outline-dark" style="vertical-align: bottom"
             href="/movies/details/{{movie.id}}" type="submit">See details</a>
      </div>
  </div>
</div>
    {% endfor %}
        </div>
{% endblock %}
</body>
</html>