{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ book.title }}</title>
</head>
<body>
{% block content %}
    <div class="row justify-content-center">
    <div class="col-md-4 align-self-center">
        {% if book.cover %}
            <img src="{{ book.cover.url }}" class="img-fluid" alt="...">
        {% endif %}
        {% if not book.cover %}
        <img src="{% static 'basic_static/basic_book_cover.svg' %}" class="img-fluid" alt="...">
        {% endif %}
{#        <div class="row justify-content-center" style="margin-top: 5px">#}
{#            Do you want to suggest a new cover? Add it here:#}
{#            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}#}
{#                {{ suggest_cover }}#}
{#                <button class="btn btn-outline-dark" type="submit">Suggest a cover</button>#}
{#            </form>#}
{#        </div>#}
    </div>
    <div class="card" style="width: 400px; height: 400px">
    <div class="card-header" style="height: 50px">{{ book.title }}</div>
    <div class="card-body" style="height: 50px"> Written by: {% for contributor in contributors %} {{ contributor }}
        {% endfor %}</div>
    <div class="card-body" style="height: 50px"> Published by: {{ publisher }} in {{ published_at }}</div>
    <div class="card-body" style="height: 200px">Description: {{ description }}</div>
    </div>
    </div>
    {% if user.is_authenticated %}
    <div class="d-flex justify-content-center" style="margin: 30px">
        <a href="/books/details/{{ id }}/add_review/" class="btn btn-outline-dark"> Add review </a>
{#    <form method="post" action="/books/details/{{ id }}/add_review/"> {% csrf_token %}#}
{#        <p>{{ form.as_p }}</p>#}
{#    <button class="btn btn-outline-dark" type="submit" >Send a review</button>#}
{#    </form>#}
    </div>
    {% endif %}
    <div class="d-flex justify-content-center">
    {% if reviews %}
        {% for review in reviews %}
    <div class="card" style="margin: 1%; width: 19%">
        <div class="card-header"> {{ review.rating }}</div>
            <div class="card-body"> {{ review.content }}</div>
                <div class="card-footer text-muted" style=""> {{ review.creator }}</div>
    </div>
    {% endfor %}
        {% else %}
        <div class="card" style="margin: 1%">
        <div class="card-body">Be the first one who wrote a review!</div>
        </div>
    {% endif %}
    </div>
{% endblock %}
</body>
</html>