{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <p></p>
    <div class="row justify-content-center">
    {%  for message in messages %}
    <p style="text-align: center"><em>{{ message.level_tag|title }}:</em> {{ message }}</p>
    {% endfor %}
    <div class="card mb-8" style="max-width: 600px">
        <div class="card-body">
        <form action="" method="post"> {% csrf_token %}
{#        {{ form.as_p }}#}
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td>Name: </td>
                <td> {{ form.name }}</td>
            </tr>
            <tr>
                <td>Website: </td>
                <td> {{ form.website }}</td>
            </tr>
            </tbody>
        </table>
    <p><input class="btn btn-outline-success" type="submit" value="Submit"></p>
    </form>
    <a class="btn btn-outline-dark justify-content-center" href="/books/publishers/new/">Refresh and add a new publisher</a>
        </div>
    </div>
    </div>
{% endblock %}
</body>
</html>