{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rating of {{ book }}</title>
</head>
<body>
{% block content %}
    {{ context }}
    <p></p>
    <div class="row">
    {%  for book in book_list %}
        <div class="card mb-3" style="max-width: 540px; height: 300px">
  <div class="row g-0">
    <div class="col-md-4">
        <img src="{% static 'basic_static/basic_book_cover.svg' %}" class="img-fluid" alt="...">
    </div>
      <div class="col-md-8">
        <div class="card-body" style="height: 250px">
        <h5 class="card-title" style="height: 50px">{{ book.book }}</h5>
            <div style="height: 75px">
              <p> {% if book.number_of_authors > 1 %} Authors: {% else %} Author: {% endif %}
                  {% for author in book.authors %} {{ author }}, {% endfor %}</p>
            </div>
            <div style="height: 75px">
                <p>published by {{ book.publisher }} in {{ book.date }},</p>
            </div>
            <div style="height: 50px">
                {% if book.number_of_reviews == 0 %} no reviews yet {% endif %}
                {% if book.number_of_reviews > 1%} {{ book.number_of_reviews }}
                    reviews with average score of {{ book.book_rating }}{% endif %}
                {% if book.number_of.reviews == 1 %} {{ book.number_of_reviews }}
                    review with average score of {{ book.book_rating }}{% endif %}
            </div>
        </div>
        <a class="card-footer btn btn-primary nav-link" style="vertical-align: bottom" aria-current="page"
           href="/books/rating/{{ book.id }}">See details and reviews</a>
        </div>
        </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
</body>
</html>