{% extends 'base.html' %}
{% load static %}
{% load profile_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="width: 45%; margin: 1%">
                <p>Username: {{ request.user.username }}</p>
                <p>Name: {{ request.user.first_name }}</p>
                <p>Registration Date: {{ request.user.joined }}</p>
                <p>Email: {{ request.user.email }}</p>
                <p>Last Login: {{ request.user.last_login }}</p>
            </div>
            <div class="col" style="width: 45%; margin: 1%">
                <p>The things you've watched recently:</p>
                {% for book_id, book_title in request.session.viewed_books %}
                    <p><a href="/books/details/{{ book_id }}">{{ book_title }}</a></p>
                    {% empty %}
                    There will be last viewed books.
                {% endfor %}
            </div>
        </div>
    <p>A block with your reviews</p>
    {% reviews_list_tag user.id %}
    </div>
{% endblock %}
</body>
</html>