{% load profile_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/site_blocks.css">
</head>
<body>
{% if reviews %}
<div class="reviews_list">
    {% for review in reviews %}
    <div class="review_element">
        {{ review.book_title }} written by {% for author in review.authors %} {{ author }} {% endfor %},
        rated at {{ review.rating }}, <a style="text-align: right" href="/books/details/{{ review.book_id }}">see a book</a>.
    </div>
    {% endfor %}
</div>
{% endif %}
</body>
</html>