{% load profile_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/site_blocks.css">
</head>
<body>
{% if reviews %}
<div class="flex-container">
    {% for review in reviews %}
    <div>
        <a style="text-align: right" href="/books/details/{{ review.book_id }}">
            {{ review.book_title }} written by {% for author in review.authors %} {{ author }} {% endfor %},
            rated at {{ review.rating }}.
        </a>
    </div>
    {% endfor %}
</div>
{% endif %}
</body>
</html>